body{
   font-family:sans-serif;
}
header{
    background-color:rgb(63, 62, 62);
    margin-bottom: 3%;
    

   }
header img{
    display: inline-block;
    margin: 1% 3% 1% 13%;
   
 }
 header nav  , header li{
   display: inline-block;

 }
 header nav{
    position: absolute;
    top: 6%;
}
header a {
    text-decoration: none;
    font-size: large;
    margin-right:60px; 
    color: gray;
 }
main {
    justify-content: center;
   
}
main>img{
   margin-left: 13% ;
   display: inline-block;
}
main > div {
    margin-left: 13% ;
    margin-top: 2%;
}
main > div >img{
    display: inline-block;
    margin-right:2.3% ;

}
section{
    margin: 2%  13% ;
    display: inline-block;
}
article>p{
    display: inline-block;
    font-size: 18px;
    justify-content: center;
   
}
section >article{
    width: 35%;
    display:inline-block;
    position: absolute;
    margin-left: 30px;
   
}

article>h3{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 3%;
}
button{
    display:block;
    background-color: black;
    color: white;
    font-size: 20px;
    width: 200px;
    height: 50px;
    margin-top: 4%;
    border-radius: 5px;
    border-color: black;
}
button:hover{
    transition-delay: 350ms ;
    background-color: dimgrey;
  

}
footer{
    background-color:rgb(63, 62, 62);
    height: 100px;
 
}
