body{
   font-family:sans-serif;
}
header{
    background-color:rgb(63, 62, 62);
    margin-bottom: 3%;

   }
.logo{
    display: inline-block;
    margin: 1% 3% 1% 13%;
   
 }
 .navbar , .navitem{
   display: inline-block;

 }
.navbar{
    position: absolute;
    top: 6%;
}
 .navlink {
    text-decoration: none;
    font-size: large;
    margin-right:60px; 
    color: gray;
 }
main {
    justify-content: center;
   
}
.home-img{
   margin-left: 13% ;
   display: inline-block;
}
.img_view{
    margin-left: 13% ;
    margin-top: 2%;
}
.single-img{
    display: inline-block;
    margin-right:2.3% ;

}
.feature-section{
    margin: 2%  13% ;
    display: inline-block;
}
.feature-par{
    display: inline-block;
    font-size: 18px;
    justify-content: center;
   
}
.feature-article{
    width: 35%;
    display:inline-block;
    position: absolute;
    margin-left: 30px;
   
}

.heading-feature{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 3%;
}
.btn{
    display:block;
    background-color: black;
    color: white;
    font-size: 20px;
    width: 200px;
    height: 50px;
    margin-top: 4%;
    border-radius: 5px;
    border-color: black;
}
.btn:hover{
    transition-delay: 350ms ;
    background-color: dimgrey;
  

}
footer{
    background-color:rgb(63, 62, 62);
    height: 100px;
 
}
